<!DOCTYPE html>
<html>

<head>
  <title>Options | Pass The Plebs</title>
</head>

<body>
  <div class="container">
    <div class="content">
      <h2>Options</h2>
      <label class="checkboxLabel">
        <input
          id="showBackgroundColors"
          type="checkbox">
        <span class="labelText">
          Show Background Colors
        </span>
      </label>

        <% for (var prop in htmlWebpackPlugin.options.radioHeaders) { %>
        <div class="radioOption">
          <div class="radioHeader">
            <%- htmlWebpackPlugin.options.radioHeaders[prop] %>
          </div>
          <div
            class="radioList"
            id="<%- prop %>">

            <% for (var i = 0; i < htmlWebpackPlugin.options.radioOptions.length; i++) { %>
            <label class="radioLabel">
              <input
                type="radio"
                name="<%- prop %>"
                value="<%- htmlWebpackPlugin.options.radioOptions[i] %>">
              <span class="labelText">
                <%- htmlWebpackPlugin.options.radioOptions[i] %>
              </span>
            </label>
            <% } %>

          </div>
        </div>
        <% } %>

      <div class="buttonWrapper">
        <button id="restoreDefaults">
          Restore Defaults
        </button>
      </div>
    </div>
  </div>
</body>

</html>
